# Ignore local environment settings
.zshrc_local

.config/gatsby
.config/flipperdevices.com
.config/flutter
.config/ranger
.config/firebase
.config/configstore
.config/iterm2
.config/lftp
.config/thefuck
.config/fish
.config/mcphub/

.vscode
.git/

.DS_Store
/.jj
